.noria-separator {
  background-color: color-mix(in srgb, var(--muted) 20%, transparent);
  flex-shrink: 0;
  border: none;
  height: 2px;
  width: 100%;
}

.noria-separator[aria-orientation='vertical'] {
  width: 2px;
  height: 100%;
}
